@{
    ViewBag.Title = "About";
}

<h2 class="headers">About Scuffle</h2>
<div class="paragraphs">
    <p>
        Scuffle is a web application that brings friends and family together by making going to the gym a little more motivating.
        As an active gym goer, I myself, sometimes found it difficult to get motivated to go to the gym after a long day at work.
        I found that the only time I was extremely motivated to go to the gym was when I could go with a friend, and we could
        challenge eachother and try to lift more or run longer. This game me the idea of Scuffle, a WebApp that turns working
        out into a game, making it more fun to be active.
    </p>
</div>

<h2 class="headers">With Scuffle, you can...</h2>
<div class="paragraphs">
    <p>-Search for fitness events anywhere in the country</p>
    <p>-Add events to your Google calendar</p>
    <p>-Create your own personal workout chart so you don't waste any time at the gym trying to think of what exercise to do</p>
    <p>-Add friends and share workout plans with them</p>
    <p>-Create challenges with your friends and try to beat all the goals before they do!</p>
</div>

<style>
    .headers {
        font-size: 30px;
    }

    .paragraphs {
        font-size: 20px;
    }
</style>

