@{
    ViewBag.Title = "Contact";
}

<h3 id="header">Contact Us</h3>

<address class="body">
    333 Plankinton Ave.<br />
    Milwaukee, WI 53203<br />
    Phone: 262-566-4838
</address>

<address class="body">
    <strong>Email:</strong>   <a href="mailto:Support@example.com">Etaylor113@gmail.com</a><br />  
</address>

<style>
    #header{
        font-size: 30px;
    }

    .body {
        font-size: 20px;
    }
</style>