
@{
    ViewBag.Title = "RegisterAccessRequired";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align: center;">You need to create an account with us to access this feature!</h1>

<img src="https://lh4.ggpht.com/ZWnI6SELndI_wC6H3SvhHCVeJErRvHjAkGwSZ3H9HHNUJ3x3lFfisWJbdUC_drzuYDtJ=w300" alt="Mountain View" style="width:304px;height:228px; display: block; text-align: center; ">