@model CapstoneProject.Models.EventModel.SearchParams
@{
    ViewBag.Title = "SearchForEvents";
}

@using (Html.BeginForm("ViewEvents", "Events"))
{
    <div style="margin-left: 35%;" >
        <h1 id="heading">Search For Events</h1>
        <br />
        <div class="form-group" style="font-size: 25px;">
            <h3>Type a state to search events.</h3>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.state, new { @class = "form-control", id = "searchInput" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="buttonNav" value="Search" />
            </div>
        </div>
    </div>
}

<script>
    function post() {
        var Search = $("#searchInput").val();
        $.ajax({
            type: "GET",
            url: "ViewEvents",
            coontentType: "application/json",
            data: {
                "Search": Search
            },
            dataType: "json",

            success: function (data) {
                console.log(data)
            },
            error: function (req, status, error) {
                console.log(req);
            }
        });
        return false;
    };

</script>


<style>
    #buttonNav
       {
           background-color: #4717F6;
           border-color: black;
           color: #E7DFDD;
           font-size: 30px;
           margin-top: 10px;
           margin-left: -30px;
           border-radius: 5px;             
       }
</style>







@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


