@model IEnumerable<CapstoneProject.Models.EventModel.Event>
@using Newtonsoft.Json
@{
    ViewBag.Title = "ViewEvents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyCwr4my9cokU5JiXc41ODW41OOjBpHeMMg"
            type="text/javascript"></script>
</head>

<body>

    <p id="header">Events map </p>

    <p class="body">Click on pins to learn more about event. </p>
    <p class="body">@Html.ActionLink("Go to Google Calendar", "GoToCalendar", "Calendar", new { }, new { @class = "Search" })</p>

    <div id="map" style="width: 800px; height: 430px; display: block; margin: 0 auto"></div>
    <br />
    <script type="text/javascript">
        var data = @Html.Raw(Json.Encode(Model));

        var dataLength = data.length
        var locations = [];
        for (var e = 0; e < dataLength; e++)
        {
            
            var eventInfo = '<div id="content">' +
                   '<div id="siteNotice">' +
                   '</div>' +
                   '<h1 id="firstHeading" class="firstHeading"></h1>' +
                   '<div id="bodyContent">' +
                   '<h3>' + data[e].title + '</h3>' +
                   '<p>City: ' +  data[e].city_name + '</p>' +
                   '<p>Address: ' +  data[e].venue_address + '</p>' +              
                   '<p>Event Start Time: ' +  data[e].start_time + '</p>' +
                   '<p>Event End Time: ' +  data[e].stop_time + '</p>' + 
                   '</div>' +
                   '</div>';
            var eventObj = { eventInfo: eventInfo, lat: data[e].latitude, long: data[e].longitude}
            locations.push(eventObj);
        }


        var i = 0;

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: new google.maps.LatLng(data[0].latitude, data[0].longitude),
            mapTypeId: google.maps.MapTypeId.ROADMAP 
        });

        var infowindow = new google.maps.InfoWindow();

        var marker;

        for (i = 0; i < locations.length; i++) {

            marker = new google.maps.Marker({
                position: new google.maps.LatLng(data[i].latitude, data[i].longitude),
                map: map
            });

            google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {
                    infowindow.setContent(locations[i].eventInfo);
                    infowindow.open(map, marker);
                }
            })(marker, i));
        }
    </script>

<style>
    #header {
        text-align: center;
        font-size: 40px;
    }

    .body {
        text-align: center;
        font-size: 30px;
    }


</style>

</body>
</html>