@model IEnumerable<CapstoneProject.Models.ApplicationUser>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "ViewWorkoutChart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Workout Plan</h2>
<br /> <br />


<table class="table">
    <tr>
        <th>
            First Name
        </th>   
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.MondayPlan != null)
                {
                    <h3>Monday: @Html.DisplayFor(modelItem => item.MondayPlan)</h3>
                }
                else
                {
                    <h3>Monday: Nothing Scheduled for this day.</h3>
                }              
            </td>
        </tr>
    }
</table>