@model IEnumerable<CapstoneProject.Models.RegisterViewModel>
@{
    ViewBag.Title = "ViewWorkoutChart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Workout Plan</h2>
<br /> <br />

@foreach (var item in Model)
{
if (item.MondayPlan != null)
{
    <h3>Monday: @Html.DisplayFor(modelItem => item.MondayPlan)</h3>
}
else
{
    <h3>Monday: Nothing Scheduled for this day.</h3>
}





}