
@{
    ViewBag.Title = "WorkoutPlanHome";
}

<div id="body">
    <h2 id="heading">Workout Plan</h2>
    <br />
    <p><a id="buttonNav" class="btn btn-default" href='@Url.Action("CreateWorkoutChart", "WorkoutPlan")'>Create a new plan &raquo;</a></p>

    <p><a id="buttonNav" class="btn btn-default" href='@Url.Action("ViewWorkoutChart", "WorkoutPlan")'>View my plans &raquo;</a></p>
</div>

<style>
    #buttonNav {
        background-color: #4717F6;
        border-color: black;
        color: #E7DFDD;
        font-size: 20px;
        border-radius: 5px;
    }

    #heading {
        font-size: 45px;
    }
    #body {
        text-align:center;       
    }
</style>