
@{
    ViewBag.Title = "WorkoutPlanHome";
}

<h2>Workout Plan</h2>

<p><a class="btn btn-default" style="background-color: #4717F6; border-color: black; color: #E7DFDD" href='@Url.Action("CreateWorkoutChart", "WorkoutPlan")'>Create a new plan &raquo;</a></p>

<p><a class="btn btn-default" style="background-color: #4717F6; border-color: black; color: #E7DFDD" href='@Url.Action("ViewWorkoutChart", "WorkoutPlan")'>View my plans &raquo;</a></p>