
@{
    ViewBag.Title = "ChallengesHome";
}

<h2>Challenges Home</h2>



<p><a id="buttonNav" class="btn btn-default" href='@Url.Action("CreateChallenge", "Challenges")'>Create a new challenge &raquo;</a></p>

<p><a id="buttonNav" class="btn btn-default" href='@Url.Action("ViewChallenge", "Challenges")'>View my challenge &raquo;</a></p>



<style>
    #buttonNav {
        background-color: #4717F6;
        border-color: black;
        color: #E7DFDD;
    }
</style>