
@{
    ViewBag.Title = "FriendsHome";
}


<body>

    <p><a class="button" href='@Url.Action("ViewAllUsers", "Friends")'>Add a friend &raquo;</a></p>

    <p><a class="button" href='@Url.Action("ViewFriendList", "Friends")'>View my friends &raquo;</a></p>

</body>

<style>
    .button {
        background-color: #4717F6;
        border-color: black;
        border: 2px solid #0E0B16;
        color: #E7DFDD;
        width: 450px;
        height: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 30px;
        text-align: center;
        border-radius: 5px;
        margin-top: 30px;

    }

    a:hover {
        color: white;
    }
</style>