
@{
    ViewBag.Title = "FriendAdded";
}

<div>
    <h2 id="header">Friend Added!</h2>  
     <img id="image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/90/Check_mark_23x20_02.svg/1081px-Check_mark_23x20_02.svg.png" alt="Checkmark">
</div>

<style>
    #header {
        text-align: center;
    }
    #image {
        width: 350px;
        height: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 30px;
        width: 400px;
        height: 400px;
    }

    .button {
        background-color: #4717F6;
        border-color: black;
        border: 2px solid #0E0B16;
        color: #E7DFDD;
        width: 350px;
        height: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 30px;
        text-align: center;
        border-radius: 5px;
    }

    a:hover {
        color: black;
    }
</style>