
@{
    ViewBag.Title = "FriendsHome";
}

<h2>Friends Home</h2>
<body>
    <script>



        window.fbAsyncInit = function () {
            FB.init({
                appId: '331582300627984',
                autoLogAppEvents: true,
                xfbml: true,
                version: 'v2.10'
            });
            FB.getLoginStatus(function(response) {
                if (response.status === 'connected') {
                    document.getElementById('demo').innerHTML = 'Status: User Connected.';
                } else if (response.status === 'not_authorized'){
                    document.getElementById('demo').innerHTML = 'Status: Not logged in.';
                } else {
                    document.getElementById('demo').innerHTML = 'Status: You are not logged into your Facebook account.';
                }
            });

            FB.AppEvents.logPageView();
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function login() {
            FB.login(function (response) {
                if (response.status === 'connected') {
                    document.getElementById('demo').innerHTML = 'Status: User Connected.';
                } else if (response.status === 'not_authorized') {
                    document.getElementById('demo').innerHTML = 'Status: Not logged in.';
                } else {
                    document.getElementById('demo').innerHTML = 'Status: You are not logged into your Facebook account.';
                }
            });
        }

        function getInfo() {
            FB.api('/me', 'GET',{ fields:'first_name,last_name,name,id'}, function(
                response){
                document.getElementById('demo').innerHTML = response.id;
            });
        }





    </script>
    <div id="demo"></div>
    <button onclick="login();">Login</button>
    <button onclick="getInfo();">Get Info</button>
</body>