
@{
    ViewBag.Title = "GoToCalendar";
}

<h2>Calendar</h2>

<div class="responsive-iframe-container small-container">
    <iframe src="https://calendar.google.com/calendar/embed?src=986hortl8epbgasgfoc9v38im8%40group.calendar.google.com&ctz=America/Chicago"
            style="border: double; border-color: cornflowerblue"
            width="800"
            height="475"
            frameborder="1"
            scrolling="no"></iframe>
</div> 